/* 
Author: Justin Nguyen
Last Updated: 10/09/2025 by Justin Nguyen
Purpose: Landing page for ClutchCall, explaining what it is and its features
*/

@import "tailwindcss";

@theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-text-primary: var(--text-primary);
    --color-text-secondary: var(--text-secondary);
    --color-accent: var(--accent);
    --color-backdrop: var(--backdrop);

    /*dialog variables*/
    --color-dialog-bg: var(--dialog-bg)
}

@layer base {
    :root {
        --primary: #EF4444;
        --secondary: #FEE2E2;
        --background: #F9FAFB;
        --secondary-background: #f5f5f5;
        --text-primary: #1F2937;
        --text-secondary: #6B7280;
        --accent: #F87171;
        --dialog-bg: #ffffff;
    } 

    .dark {
        --primary: #e54d42;
        --secondary: #21262d;
        --background: #0d1117;
        --secondary-background: #131821;
        --text-primary: #c9d1d9;
        --text-secondary: #8b949e;
        --accent: #30363d;
        --dialog-bg: #0f1724;
    }

    html {
        @apply scroll-smooth;
    }

    body { 
        @apply bg-background text-primary transition-colors duration-300;
        font-family: 'Inter', sans-serif;
    }

    .slick-prev:before,
    .slick-next:before {
        color: var(--primary) !important;
        font-size: 28px;
    }

    .slick-dots li button:before {
        color: var(--primary) !important;
        opacity: 0.6;
    }
    .slick-dots li.slick-active button:before {
        color: var(--primary) !important;
        opacity: 1;
    }

    /*MatchCard Overlays*/
    .team-gradient-overlay::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
            to right,
            var(--away-team-color, #00338d),
            transparent 50%,
            var(--home-team-color, #c60c30)
        );
        opacity: 0.7;
        border-radius: inherit;
    }

    .vignette-overlay::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: radial-gradient(
            ellipse at center,
            rgba(0, 0, 0, 0) 40%,
            rgba(0 ,0, 0, 0.8) 100%
        );
        border-radius: inherit;
    }

.scrollbar-hide::-webkit-scrollbar { display: none; }         /* Chrome/Safari/Opera */
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; } /* IE/Edge/Firefox */
}
